<%- include('partials/top.ejs') %> 

<main>
    <h1>MAIN LOBBY</h1>
    <div>
        <h2>Video conference div</h2>
    </div>
    <div>
        <h2>Text chat div</h2>
        <div>
            <h3>Messages div</h3>
        </div>
        <div>
            <form>
                <input type="text" />
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</main>

<%- include('partials/bottom.ejs') %> 